
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(47, 158, 181, 0.6)); /* Using our primary color */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(72, 202, 228, 0.6)); /* Using our secondary color */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #F8F8F8; /* background-1 */
  color: #302F2F; /* text-1 */
  border: 1px solid #E5E4E4; /* background-2 */
}

.read-the-docs {
  color: #717171; /* text-2 */
}
